/*Portfolio theme inspired by 3rdwavemedia.com*/

/*CSS variables*/
:root {
  --dark-blue-nav: #1a78a5;
  --faded-gray-nav: rgba(255,255,255,0.5);
  --dark-blue-icon: #156084;
  
  --light-blue-background: #43aee2;
  --white: #fff;
  --light-gray-background: #f7f8fa;
  --light-gray-text: #8d9aad;
  --ligth-blue-button: #368BB5;
  --ligth-gray-box-shadow: rgba(0,0,0,0.075);
}

/*CSS Reset*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*CSS pour l'ensemble du site*/
body {
	color: var(--white);
	font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

/*CSS grid layout pour tout le site*/
#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(50px, auto);
}

nav, header, section, main, footer {
  grid-column: span 12;
}

/*CSS pour la barre nav fixe*/
#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 2;
}


/*navbar*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  background: var(--dark-blue-nav);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

/*CSS pour la navigation avec icones*/
#social {
  flex-basis: 40%;
}

#profile-link {
  margin-left: 40px;
}

.link {
  font-size: 1.15rem;
}

.link i {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.link i:hover {
  background: var(--dark-blue-icon);
}

/*CSS pour la navigation du menu textuel*/
#navigation {
  flex-direction: end;
  padding-top: 10px;
}

#navigation .active {
  color: #fff;
}

#navigation a {
  margin-left: 20px;
  color: var(--faded-gray-nav);  
  transition: all 0.4s ease-in-out;
}

#navigation a:hover {
  color: var(--white);
  border-bottom: 5px solid var(--white);
  padding-bottom: 10px;
}

#clearfix {
  margin: 0 auto;
  display: flex;
  background: var(--light-blue-background);
}

/*header photo et texte présentation*/
header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  background: var(--light-blue-background);
  text-align: justify; 
  padding-bottom: 3%;
}

#lead {
  font-size: 1.25rem;
  padding-left: 2%; 
  margin-top: 10%;
}

#image{
  grid-column: 1/3;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: start;
}

#image img {
  height: auto;
  width: 75%;
  margin-top: 20%;
  border-radius: 5px;
}

#presentation {
  grid-column: 3/7;
  grid-row: 1/3;
}

#presentation p {
  padding-left: 2%;
  padding-right: 10%;
}

#presentation h1 {
  padding-left: 2%;
  font-size: 3rem;
}

#presentation a {
  color: var(--dark-blue-icon);
}

#presentation .bouton {
  padding: 2%;
  display: inline-block;
  margin: 2%;
  background: var(--ligth-blue-button);
  color: var(--white);
  font-weight: bold;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
  border: var(--ligth-blue-button);
  position: relative;
  box-shadow: 0 6px var(--light-blue-background);
  font-family: 'Nunito', sans-serif;
}

#presentation .bouton:hover {
  background: var(--dark-blue-nav);
}

#presentation .bouton:active {
  box-shadow: none;
  top: 2px;
}

#presentation .bouton a, main .bouton a, #bloggin .bouton a, #plug .bouton a {
  color: var(--white);
  cursor: pointer;
}

/*section competences*/

#competences {
  background: var(--light-gray-background);
  color: var(--dark-blue-icon);
}

#competences h3 {
  text-align: center;
  padding: 1.5% 10%;
}

#competences h2 {
  font-size: 2rem;
  margin-top: 2%;
  text-align: center;
  padding: 2%;
}

#competences p, main p, #blogging p {
  margin: 0% 10%;
  text-align: center;
  padding: 1.5% 5%;
}

#cv a {
  color: var(--light-blue-background);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 1.5% 10%;
}

#cv i {
  padding: 1%;
  font-size: 1.15rem;
}

#skills {
  display: flex;
  justify-content: space-around;
}

#skills i {
  color: var(--light-blue-background);
  font-size: 1.15rem;
}

#skills #fe, #skills #mw, #skills #atout {
  font-size: 3rem;
  background: var(--light-blue-background);
  color: var(--white);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
  position: relative;
  top: -50px;
  left: 40%;
}

.skillset {
  flex-basis: 30%;
  background: var(--white);
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0.125rem 0.25rem var(--ligth-gray-box-shadow);
}

.skillset h3 {
  margin-bottom: 5%;
  font-size: 1.5rem;
}

.skillset ul {
  margin-bottom: 10%;
  margin-left: 1%;
  margin-right: 1%;
}

.skillset li {
  color: var(--dark-blue-icon);
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding-left: 5%;
  line-height: 1.75rem;
}

/*main projects*/

main, #blogging {
  background: var(--light-blue-background);
  color: var(--white);
  text-align: center;
  padding-bottom:3%; 
}

main h2, #blogging h2 {
  font-size: 2rem;
  padding: 2%;
  margin-top: 2%;
}

main a {
  color: var(--dark-blue-icon);
}


#projects, #blog {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

.project-tile {
  flex-basis: 31%;
  background: var(--white);
}

.project-tile h3 a {
  color: var(--dark-blue-icon);
  font-size: 1.5rem;
  display: block;
  margin-top: 2%;
}

.project-tile ul {
  list-style-type : none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-inline-start: 0;
  margin: 0;
  text-align: center;
}

.project-tile li {
  background: var(--dark-blue-nav);
  padding: 10px 15px; 
  margin: 2%;
  max-width: 150px;
  color: var(--white);
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
}

.thumbnail {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

#image1 {
  background-image: url(../portefolio2/img2/operation-charme.jpg);
}

#image2 {
  background-image: url(../portefolio2/img2/ferme2.jpg);
}

#image3 {
  background-image: url(../portefolio2/img2/st-augustin.jpg);
}

.slide {
  position: relative;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  transition: all 0.4s linear;
  color: transparent;
}

.slide a {
  color: transparent;
  display: block;
  margin-top: 0;
  padding-top: 175px;
  height: 375px;
}

.slide:hover {
  background: rgba(13,57,79, 0.8);
}

.slide a:hover {
  color: var(--white); 
  font-weight: bold;
}

main .bouton, #blogging .bouton, #plug .bouton {
  display: inline-block;
  padding: 2%;
  margin: 2%;
  background: var(--ligth-blue-button);
  color: var(--white);
  font-weight: bold;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
  border: var(--ligth-blue-button);
  position: relative;
  box-shadow: 0 6px var(--light-blue-background);
  font-family: 'Nunito', sans-serif;
}

main .bouton:hover, #blogging .bouton:hover,#plug .bouton:hover {
  background: var(--dark-blue-nav);
}

main .bouton:active, #blogging .bouton:active, #plug .bouton:active {
  box-shadow: none;
  top: 2px;
}


/*Blog*/
#blogging {
  background: var(--light-gray-background);
  color: var(--dark-blue-icon);
  text-align: center;
}

#blogging .project-tile {
  box-shadow: 0 0.125rem 0.25rem var(--ligth-gray-box-shadow);
}

#blogging .project-tile h3 a {
  color: var(--light-blue-background);
}

#image4 {
  background-image: url(../img3/stairs.jpg);
} /*Photo by Mikito Tateisi on Unsplash*/

#image5 {
  background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}

#image6 {
  background-image: url(https://image.freepik.com/photos-gratuite/mere-sa-fille-aide-ordinateur-portable_23-2147837615.jpg);
}

#image29 {
  background-image: url(../img3/happy.jpg);
  /*Photo by Lidya Nada on Unsplash*/
}

#image30 {
  background-image: url(../img3/calendrier.jpg);
  /*Photo by Estée Janssens on Unsplash*/
}

#blog .date {
  text-align: left;
  color: var(--light-gray-text);
  margin: 1%;
}

#blog .summary {
  text-align: justify;
  margin: 1%;
}

#blogging .bouton {
  box-shadow: 0 6px var(--light-gray-background);
}

/*footer*/

footer {
  background: var(--dark-blue-nav);
}

footer p {
  text-align: center;
  margin: 2%;
}


/*----------------------media queries-----------------------------*/

@media screen and (max-width: 1300px){
  #skills #fe, #skills #mw, #skills #atout {
    left: 37%;
  }
  
  .thumbnail {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
  }

  .project-tile li{
    font-size: 0.70rem;
    padding: 8px 12px; 
  }
}

@media screen and (max-width: 1100px){
  #skills #fe, #skills #mw, #skills #atout {
    left: 35%;
  }
    #cv {
  margin-bottom: 2%;
}  
  
  #projects, #blog, #projectGallery, #blogGallery {
    flex-direction: column;
    margin: 2% 15%;
  }
  
  .project-tile {
    margin-bottom: 5%;
  }
    
  .thumbnail {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
  }
 
   #image3 {
    background-position: 0% 0.3%;
  }

   main .bouton, #blogging .bouton {
    margin: 0% 0%;
    width: 65%;
  }
  
  .slide a {
    padding-top: 200px;
}
}

@media screen and (max-width: 990px){
  #image img {
      width: 85%;
    }

  #competences .first, main .first, #blogging .first {
    margin: 0%;
    padding: 1.5% 5%;
}
    
  #cv {
  margin-bottom: 10%;
}  
  
  #skills {
    flex-direction: column;
    margin: 5% 15%;
  }
  .skillset {
    flex-basis: 30%;
    margin: 5%;
  }
  .skillset li {
    margin-left: 5%;
  }

  #skills #fe, #skills #mw, #skills #atout {
    left: 43%;
  }
  
  .project-tile {
    margin: 1.5%;
    flex-basis:31%;
  } 

  main .bouton, #blogging .bouton {
    margin: 0% 0%;
    width: 63%;
  }
}

@media screen and (max-width: 900px){
    #skills #fe, #skills #mw, #skills #atout {
    left: 41%;
  }

  .skillset {
    margin-top: 7%;
  }
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #profile-link, #navigation {
    margin: 0;
  }
  
  #navigation a:hover {
    padding-bottom: 0px;
}
  /*header*/

  #lead {
    margin: 0;
}
  #image {
    grid-column: span 6;
    grid-row: 1/2;
  }
  
  #image img {
    width: 30%;
    margin-top: 10%;
    margin-bottom: 0%;
  }
  
  #presentation {
    grid-column: span 6;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
  }
  
  #presentation h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
}
  #presentation p {
    text-align: center;
    padding: 1.5% 5%;
  }
  
  .plus {
    display: none;
  }
  
  #presentation .bouton {
    margin: 2% 5%;
    text-align: center;
  }
  
  /*skills*/
  
  .skillset {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  #skills #fe, #skills #mw, #skills #atout {
    left: 40%;
  }

/*project*/

  .thumbnail {
    height: 400px;
  }

  .slide a {
  padding-top: 175px;
}
}
  

@media screen and (max-width: 750px){
  #image img {
    width: 40%;
    margin-top: 10%;
    margin-bottom: 0%;
  }

  #cv a {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    font-size: 1rem;
  }

  #skills {
    flex-direction: column;
    margin: 5% 10%;
  }

  #projects, #blog, #projectGallery, #blogGallery {
    flex-direction: column;
    margin: 2% 10%;
  }

  main .bouton, #blogging .bouton {
    margin: 0% 0%;
    width: 73%;
  }

}

@media screen and (max-width: 650px){

  header {
    padding-top: 7%;
  }

  #image img {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 0%;
  }
  
  #skills {
    flex-direction: column;
    margin: 5% 5%;
  }

  #skills #fe, #skills #mw, #skills #atout {
    left: 41%;
  }
  
  #projects, #blog, #projectGallery, #blogGallery {
    margin: 2% 5%;
  }

  .project-tile {
    flex-basis:33%;
  }

  .thumbnail {
      height: 350px;
  }

  main .bouton, #blogging .bouton {
    margin: 0% 0%;
    width: 83%;
  }

.slide a {
  padding-top: 150px;
}

}

@media screen and (max-width: 560px){
#presentation h1 {
  font-size: 2rem;
}

#competences h2, main h2, #blogging h2 {
  font-size: 1.75rem;
}

.skillset {
    margin-top: 15%;
  }

#skills #fe, #skills #mw, #skills #atout {
    left: 40%;
  }

.thumbnail {
    height: 300px;
  }

.slide a {
  padding-top: 130px;
}

}

@media screen and (max-width: 450px){
  #skills #fe, #skills #mw, #skills #atout {
    left: 36%;
  }

.slide a {
  padding-top: 120px;
}

}

@media screen and (max-width: 400px){
#navigation a {
    letter-spacing: 0.5px;
    margin: 10px;
    font-size: 0.75rem;
  }

#skills #fe, #skills #mw, #skills #atout {
    left: 34%;
    margin-top: 5%;
  }

.skillset li {
  padding-left: 0;
 } 

.project-tile li{
    font-size: 0.60rem;
    padding: 5px 10px;
  }


.thumbnail {
    height: 250px;
  }

.slide a {
  padding-top: 100px;
  font-size: 0.75rem;
}

}

@media screen and (max-width : 350px){
  #navigation a {
    margin: 5px;
  }

#skills #fe, #skills #mw, #skills #atout {
    left: 32%;
  }

}

/*----------------------PAGES---------------------------------------------*/

/*Contact*/
#contact {
  background: var(--light-blue-background);
  color: var(--white);
  padding: 5%;
  font-size: 1.5rem; 
}

#plug {
  background: var(--light-gray-background);
  padding: 5% 20%;
  text-align: center; 
}

#cercle img {
  height: auto;
  width: 20%;
  border-radius: 50%;
  padding-bottom: 3%;
  padding-top: 3%;
}

#plug-text {
  background: var(--white);
  color: var(--dark-blue-icon);
  padding: 5%;
  box-shadow: 0 0.125rem 0.25rem var(--ligth-gray-box-shadow);
}

#plug-text a {
  color: var(--light-blue-background);
}

#plug .bouton {
  width: 100%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-right: 0;
  margin-left: 0;
  box-shadow: 0 6px var(--light-gray-background);
}

@media screen and (max-width: 800px){
  /*contact*/
  #contact, #mesProjets, #monBlogue, #article1 {
    margin-top: 5%;
    text-align: center;
  }

  #plug {
    padding: 5% 5%;
  }

  #cercle img {
    width: 30%;
  }
}

/*Projets*/
#mesProjets, #monBlogue, #article1 {
  background: var(--light-blue-background);
  color: var(--white);
  padding: 5%;
  font-size: 1.25rem; 
}

#mesProjets p, #monBlogue p, #article1 p {
  font-size: 1.25rem;
}

#mesProjets p a {
  color: var(--dark-blue-icon);
}

#gallery, #myBlogGallery {
  background: var(--light-gray-background);
  color: var(--dark-blue-icon);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
}

#tags li {
  display: inline-block;
  list-style-type: none;
  padding: 0.5%;
  margin: 3%;
  background: var(--light-blue-background);
  color: var(--white);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

#projectGallery, #blogGallery {
  display: flex;
  justify-content: space-around;
  padding-left: 3%;
  padding-right: 3%;
  flex-wrap: wrap;
}


.row {
  margin-bottom: 5%;
  box-shadow: 0 0.125rem 0.25rem var(--ligth-gray-box-shadow);
}

#image7 {
  background-image: url(../portefolio2/img2/portefolio1.jpg);
}

#image8 {
  background-image: url(../portefolio2/img2/fernand.jpg);
}

#image9 {
  background-image: url(../portefolio2/img2/portefolio2.jpg);
}

#image10 {
  background-image: url(../portefolio2/img2/notre-dame-de-lorette.jpg);
}

#image11 {
  background-image: url(../portefolio2/img2/citations.jpg);
}

#image12 {
  background-image: url(../portefolio2/img2/edna-may-burnam.jpg);
}

#image13 {
  background-image: url(../portefolio2/img2/sondage-arbres.jpg);
  background-position: top;
}

#image14 {
  background-image: url(../portefolio2/img2/recettes-boreales.jpg);
}

#image15 {
  background-image: url(../portefolio2/img2/pattern-header.jpg);
}

#image16 {
  background-image: url(../portefolio2/img2/museum-candy.png);
}

#image17 {
  background-image: url(../img3/css-grid2.jpg);
  background-position: top;
}

#image21 {
  background-image: url(../img3/bookorama2.jpg);
  background-position: top;
}

#image22 {
  background-image: url(../img3/color-game2.jpg);
  background-position: top;
}

#image23 {
  background-image: url(../img3/todo-app.jpg);
  background-position: top;
}

#image24 {
  background-image: url(../img3/patatap.jpg);
}

#image25 {
  background-image: url(../img3/campifav2.jpg);
  background-position: top;
}

#image26 {
  background-image: url(../img3/sasstuto.jpg);
  background-position: top;
}

#image27 {
  background-image: url(../img3/first-maquette.jpg);
  background-position: top;
}

#image28 {
  background-image: url(../img3/pokedex.jpg);
  background-position: top;
}


@media screen and (max-width: 1100px) {
  .project-tile {
    margin-bottom: 10%;
    padding-bottom: 5%;
  }


}

/*blogue*/
#myBlogGallery {
  padding-top: 5%;
}

#blogGallery h3, #blog h3 {
  margin: 3%;
}

#blogGallery .date {
  text-align: left;
  color: var(--light-gray-text);
  margin: 5%;
}

#blogGallery .summary {
  text-align: justify;
  margin: 5%;
}

.suite {
  color: var(--light-blue-background);
}

/*Articles*/

#mainText {
  background: var(--light-gray-background);
  color: var(--dark-blue-icon);
  text-align: justify;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.bigImages {
  width: 100%;
  height: 400px;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 3%;
  background: no-repeat center; 
}

#image18 {
  background-image: url(https://images.unsplash.com/photo-1461896836934-ffe607ba8211?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}

#image19 {
  background-image: url(https://images.unsplash.com/photo-1535598745644-bc7913bb1a2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);
}

#image20 {
  background-image: url(../img3/javascript2a.jpg);
  background-position: bottom;
}

.blogTitle {
  padding-top: 3%;
  padding-bottom: 3%;
}

#mainText p {
  padding-bottom: 2%;
  font-size: 1.15rem;
}

#mainText p a {
  color: var(--light-blue-background);
}

#navArticles{
  display: flex;
  justify-content: center;
}

#navArticles p, #navArticles a, #navArticles i, #navArticles h3 {
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

#navArticles h3 {
  line-height: 2;
}

#resolution {
  font-weight: bold;
}

@media screen and (max-width: 750px) {
    #mainText p {
    font-size: 1rem;
  }

  #navArticles p, #navArticles h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {

  #navArticles p, #navArticles h3 {
    font-size: 0.75rem;
  }

  .bigImages {
    height: 300px;
}
}

@media screen and (max-width: 500px) {

#navArticles p, #navArticles i {
  margin-right: 0;
  margin-left: 0;
}
}

@media screen and (max-width: 450px) {

#navArticles p, #navArticles i {
  margin-right: 10px;
  margin-left: 10px;
}

#navArticles h3 {
  line-height: 1.5;
}

.bigImages {
  height: 275px;
}

#image20 {
  background-image: url(../img3/javascript3.jpg);
}

}

@media screen and (max-width: 375px) {

#navArticles p, #navArticles i {
  margin-right: 5px;
  margin-left: 5px;
}

.prochain {
  font-size: 0.75rem;
}
}

@media screen and (max-width: 325px) {

#navArticles p, #navArticles i {
  margin-right: 0;
  margin-left: 0;
}

.bigImages {
  height: 300px;
}
}

