/*General*/

html, body, header, footer, main, .footer, h1, h2, .header, .carousel, .main, .list-group, .tab-content, .image, aside, .aside, .img-fluid {
	margin: 0;
	padding: 0;
	width:100%;
	background-color: white;
	
}



/*fonts*/

h1{
	font-family: 'Raleway', sans-serif;
}


h1, h2 {
	color: black;
}

h2{
	font-family: 'Montserrat', sans-serif;
	margin-top: 2%;
	margin-bottom: 2%;
}

h3 {
	font-family: 'Raleway', sans-serif;
	margin-top: 2%;
	margin-bottom: 2%;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 3%;
	margin-right: 3%;	
	text-align: justify;
}

p {
	font-family: 'Montserrat', sans-serif;
}


/*carousel*/

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
	display : block;
}

.carousel-content h1 {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: transparent;
}

/*Main*/


.titre {
	background-color: black;
	border-color: black;
	color: white;
}


.texte {
	background-color: white;
	color: black;
	margin-right: 30%;
}


/*Aside*/
.aside h4{
	background-color: black;
	color: white;
}

.bottom {
	padding-bottom: 1%;
}

.top {
	padding-top: 2%;
}

.noir{
background-color: black;
color: white;
}


/*Footer*/

.footer {
	background-color: black;
	padding-top: 1%;
}

.footer a {
	margin-left: 3%;

}

/*media queries*/

/*// More than extra small devices (portrait phones, less than 370px)*/
@media screen and (min-width: 250px) and (max-width: 370px) { 


h1 {font-size: 1.25rem; text-align: center;}
.carousel-content h1{left:0;}
h2 {font-size: 1.25rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 0.75rem;}
p {font-size: 0.75rem;}
.footer p {font-size: 1rem; text-align: center;}

}



/*// Extra Small devices (portrait phones, less than 576px)*/
@media screen and (min-width: 371px) and (max-width: 575px) {
	h1 {font-size: 1.85rem; text-align: center;}
	.carousel-content h1{left:0;}
	h2 {font-size: 1.25rem;}
	h3 {font-size: 1.25rem;}
	h4 {font-size: 1rem;}
	p {font-size: 1rem;}
	.footer p {font-size: 1.25rem; text-align: center;}
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	
	h1 {font-size: 2.75rem; text-align: center;}
	.carousel-content h1{left:0;}
	h2 {font-size: 1.75rem;}
	h3 {font-size: 1.75rem;}
	h4 {font-size: 1.25rem;}
	p {font-size: 1rem;}
	.footer p {font-size: 1.25rem; text-align: center;}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	
	h1 { font-size: 3.5rem; text-align: center;}
	.carousel-content h1{left:0;}
	h2 {font-size: 2.5rem;}
	h3 {font-size: 2rem;}
	h4 {font-size: 1.25rem;}
	p {font-size: 1rem;}
	.footer p {font-size: 1.25rem;}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

	h1 { font-size: 3.5rem; }
	h2 {font-size: 3rem;}
	h3 {font-size: 2rem;}
	h4 {font-size: 1.25rem;}
	p {font-size: 1.25rem;}
	.footer p {font-size: 1.25rem;}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	h1 { font-size: 3.5rem; }
	h2 {font-size: 3rem;}
	h3 {font-size: 2rem;}
	h4 {font-size: 1.25rem;}
	p {font-size: 1.25rem;}
	.footer p {font-size: 1.25rem;}
}

