html, body, header, div, video, source, figcaption, .ecran, aside, img {
	margin: 0;
	padding: 0;
	width:100%;
}


/*header*/
header, figcaption, section {
	background-color: #CEB99D;
}

video {
	height: 50%;
}

blockquote {
	position: absolute;
	font-size: 2em;
	color: #FFF0DC;
	margin-top: 5%;
	margin-left: 5%;
	margin-right:50%;
	z-index: 1;
}

blockquote, h1 {
	font-family: 'Courgette', cursive;
}

/*Aside*/
img {
	width: 100%;
	height: 100%;
	background-color: #CEB99D;
	padding-bottom: 0;
}

.fernand {
	padding:0;
	background-color: #CEB99D;
	margin:0;
}

.thumbnail {
	margin-bottom: 0;
	border: 0px solid #CEB99D;
	background-color: #CEB99D;
	color: #CEB99D;
}

/*Main*/
.jumbotron {
	background: url("../imgtribute/papier.jpg") no-repeat center center;
	background-size: cover;
	background-color: #CEB99D;
}

.jumbotron h1 {
	font-size: 3em;
	color: #265F7F;
	text-align: center;	
	font-family: 'Courgette', cursive;
	margin-bottom: 3%;
}
.jumbotron-fluid p, .footer a p {
	color: #265F7F;
	font-family: 'Sorts Mill Goudy', serif;

}

.jumbotron-fluid p {
	padding-left: 3%;
	padding-right: 3%;
}


.jumbotron-fluid a {
	text-decoration: underline;
	color: #265F7F;
}

.jumbotron-fluid a:hover {
	text-decoration: none;
}

.btn {
	margin-left: 3%;
	background-color: #265F7F;
	color: #FFF0DC;
	border-color: #265F7F;
	margin-bottom: 2%;
	margin-top: 3%;
}

.btn:hover {
	background-color: #FFF0DC;
	color: #265F7F;
	border-color: #FFF0DC;
}


/*section*/
#surprise {
	display:none;
}


/*footer*/
.footer {
	background-color: #CEB99D;
}

.footer a {
	font-size: 1.5em;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer p {
	padding-top: 1%;
	padding-bottom: 1%;
}





/*Media*/

/*// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { ... }

// Large devicepx(desktops, less than 1200px)
@media (max-width: 1199px) { ... }*/


@media screen and (max-width: 765px){
	.jumbotron h1 {
		font-size: 3em;
		margin-right: 3%;
		margin-left: 3%;
	} 

	blockquote {
		font-size: 1.5em;
		margin-right:35%;
		margin-top: 3%;
	} 

	#bouton-plus {
		display: flex;
		justify-content: center;
	}

	#footer-p {
		float: none !important;
		text-align: center;
	}

}



@media screen and (max-width: 576px){
	.jumbotron h1 {
	font-size: 2.45em;
	}

	blockquote {
	font-size: 1.35em;
	margin-right:35%;
	margin-top: 3%;
	} 

}



@media screen and (max-width: 370px){
	.jumbotron h1 {
	font-size: 2em;
	} 

	blockquote {
	font-size: 1em;
	margin-top: 3%;
	margin-left: 3%;
	margin-right:35%;
	} 

}
